In [73]:
#importing regular expression library
import re

In [74]:
#using re.match
#to find the first occurrence of the letter 'I' in the string
sentence1 = re.match (r'I', 'I am learning text analytics')
print (sentence1)

<re.Match object; span=(0, 1), match='I'>

In [75]:
#using re.match
#to find the first occurrence of the letter 'v' in the string
sentence2 = re.match (r'v', 'I am learning text analytics')
print (sentence2)

None

In [76]:
#using re.match
#to find the first occurrence of the letter 'am' in the
string
sentence3 = re.match (r'am', 'I am learning text analytics')
print (sentence3)

NameError: name 'string' is not defined

In [77]:
sentence4 = re.search(r'am', 'I am learning text analytics')
print (sentence4)

<re.Match object; span=(2, 4), match='am'>

In [78]:
sentence5 = re.search(r'am', '''I am learning text analytics
and am enjoying it''')
print (sentence5)

<re.Match object; span=(2, 4), match='am'>

In [79]:
sentence6 = re.findall(r'am', '''I am learning text analytics
and am enjoying it''')
print (sentence6)

['am', 'am']

In [80]:
sentence7 = re.split(r'and', '''I am learning text analytics and
am enjoying it''')
print (sentence7)

['I am learning text analytics ', '\nam enjoying it']

In [81]:
sentence8 = re.split(r'am', '''I am learning text analytics and
am enjoying it''')
print (sentence8)

['I ', ' learning text analytics and\n', ' enjoying it']

In [82]:
sentence9 = re.split(r'am', '''I am learning text analytics and
am enjoying it''', maxsplit=1)
print (sentence9)

['I ', ' learning text analytics and\nam enjoying it']

In [83]:
sentence9 = re.split(r'am', '''I am learning text analytics and am
enjoying it''', maxsplit=2)
print (sentence9)

['I ', ' learning text analytics and ', '\nenjoying it']

In [84]:
sentence10 = re.split(r'am', '''I am learning text analytics, I
am enjoying it and I am going to ace it''', maxsplit=3)
print (sentence10)

['I ', ' learning text analytics, I\n', ' enjoying it and I ', ' going to ace it']

In [85]:
sentence11 = re.sub(r'I', 'we', '''I like text analytics and I enjoy
learning it''')
print (sentence11)

we like text analytics and we enjoy
learning it

In [86]:
sentence1 = re.findall (r'.', 'I am learning text analytics')
print (sentence1)
# Each letter is selected including spaces

['I', ' ', 'a', 'm', ' ', 'l', 'e', 'a', 'r', 'n', 'i', 'n', 'g', ' ', 't', 'e', 'x', 't', ' ', 'a', 'n', 'a', 'l', 'y', 't', 'i', 'c', 's']

In [87]:
sentence2 = re.findall (r'\w', '''I am learning
text analytics''')
print (sentence2)
# Each letter is selected excluding spaces

['I', 'a', 'm', 'l', 'e', 'a', 'r', 'n', 'i', 'n', 'g', 't', 'e', 'x', 't', 'a', 'n', 'a', 'l', 'y', 't', 'i', 'c', 's']

In [88]:
sentence3 = re.findall (r'\w*', '''I am learning text
analytics''')
print (sentence3)
# Each word is selected including spaces

['I', '', 'am', '', 'learning', '', 'text', '', 'analytics', '']

In [89]:
sentence4 = re.findall (r'\w+', '''I am learning text
analyitics''')
print (sentence4)
# Each word is selected excluding spaces

['I', 'am', 'learning', 'text', 'analyitics']

In [90]:
sentence5 = re.findall (r'^\w+', '''I am learning text
analytics''')
print (sentence5)
# First word is selected

['I']

In [91]:
sentence6 = re.findall (r'\w+$', '''I am learning text
analytics''')
print (sentence6)
# Last word is selected

['analytics']

In [92]:
sentence7 = re.findall (r'\w\w', '''I am learning text
analytics''')
print (sentence7)
# 2 consecutive characters are selected

['am', 'le', 'ar', 'ni', 'ng', 'te', 'xt', 'an', 'al', 'yt', 'ic']

In [93]:
sentence8 = re.findall (r'\b\w\w', '''I am learning text
analytics''')
print (sentence8)
# 2 consecutive characters in a string are selected

['am', 'le', 'te', 'an']

In [94]:
sentence9 = re.findall (r'@\w+', '''user@text.com.my,
user@analytics.gov.my, user@textanalytics.edu.my''')
print (sentence9)
# Only the first word in the domain name is selected

['@text', '@analytics', '@textanalytics']

In [95]:
sentence10 = re.findall (r'@\w+.\w+', '''user@text.com.my,
user@analytics.gov.my, user@textanalytics.edu.my''')
print (sentence10)

['@text.com', '@analytics.gov', '@textanalytics.edu']

In [96]:
sentence11 = re.findall (r'@\w+.\w+.\w+', '''user@text.com.my,
user@analytics.gov.my, user@textanalytics.edu.my''')
print (sentence11)
# The full domain name is selected

['@text.com.my', '@analytics.gov.my', '@textanalytics.edu.my']

In [97]:
sentence12 = re.findall (r'@\w+.(\w+.\w+)', '''user@text.com.my,
user@analytics.gov.my, user@textanalytics.edu.my''')
print (sentence12)

['com.my', 'gov.my', 'edu.my']

In [98]:
sentence13 = re.findall (r'\d{2}-\d{2}-\d{4}', '''Ahmad BIT(IS)
15-05-2001, Johnny BCS(SE) 20-08-2000''')
print (sentence13)

['15-05-2001', '20-08-2000']

In [99]:
sentence14 = re.findall (r'\d{2}-\d{2}-(\d{4})', '''Ahmad BIT(IS)
15-05-2001, Johnny BCS(SE) 20-08-2000''')
print (sentence14)

['2001', '2000']

In [100]:
sentence15 = re.findall(
 r'(\d{2}-\d{2}-)\d{2}(\d{2})',
 'Ahmad BIT(IS) 15-05-2001, Johnny BCS(SE) 20-08-2000'
)
dates = [d + y for d, y in sentence15]
print(dates)

['15-05-01', '20-08-00']

In [101]:
sentence16 = re.findall (r'[aeiouAEIOU]\w+', '''I have eight
story books. I often read them in afternoon''')
print (sentence16)
# A sequence that starts with a vowel followed by one or more
# characters are selected

['ave', 'eight', 'ory', 'ooks', 'often', 'ead', 'em', 'in', 'afternoon']

In [102]:
sentence17 = re.findall (r'\b[aeiouAEIOU]\w+', '''I have eight
story books. I often read them in afternoon''')
print (sentence17)

['eight', 'often', 'in', 'afternoon']

In [103]:
sentence18 = re.findall (r'\b[^aeiouAEIOU\s]\w+', '''I have eight
story books. I often read them in afternoon''')
print (sentence18)
# Only words that start with non-vowels are selected

['have', 'story', 'books', 'read', 'them']

In [104]:
sentence19 = re.split (r'[;,]', '''I have many story books,
colouring books; I often read them in the afternoon.''')
print (sentence19)

['I have many story books', '\ncolouring books', ' I often read them in the afternoon.']

In [105]:
sentence20 = re.split (r'[;,\s]', '''I have many story books,
colouring books; I often read them in the afternoon.''')
print (sentence20)

['I', 'have', 'many', 'story', 'books', '', 'colouring', 'books', '', 'I', 'often', 'read', 'them', 'in', 'the', 'afternoon.']

In [106]:
sentence21 = re.sub (r'[;,]', '.', '''I have many story books,
colouring books; I often read them in the afternoon.''')
print (sentence21)

I have many story books.
colouring books. I often read them in the afternoon.

In [107]:
import re
text1 = "Order number: 24567, Tracking ID: 8934A12, Quantity: 30"

pattern1 = r'\d+'
matches1 = re.findall(pattern1, text1)

print("Exercise 1 Output:")
print("Digits found:", matches1)
print()

Exercise 1 Output:
Digits found: ['24567', '8934', '12', '30']

In [108]:
text2 = "Welcome! How's your day going? Call me @ 3pm."

pattern2 = r'[^a-zA-Z0-9]'
matches2 = re.findall(pattern2, text2)

print("Exercise 2 Output:")
print("Non-alphanumeric characters:", matches2)
print()

Exercise 2 Output:
Non-alphanumeric characters: ['!', ' ', "'", ' ', ' ', ' ', '?', ' ', ' ', ' ', '@', ' ', '.']

In [109]:
text3 = "Data Science, AI, and Machine Learning. These fields are growing fast."

pattern3 = r'[,.]'
split_text = re.split(pattern3, text3)

print("Exercise 3 Output:")
print("Split text:", split_text)
print()

Exercise 3 Output:
Split text: ['Data Science', ' AI', ' and Machine Learning', ' These fields are growing fast', '']

In [110]:
text4 = "Contact us at support@example.com or info@company.org"

pattern4 = r'\w+@\w+\.\w+'
new_text = re.sub(pattern4, "[HIDDEN]", text4)

print("Exercise 4 Output:")
print("Anonymized text:", new_text)
print()

Exercise 4 Output:
Anonymized text: Contact us at [HIDDEN] or [HIDDEN]

In [111]:
text5 = "Emails: user@gmail.com, admin@university.edu, info@company.org"

pattern5 = r'@\w+\.(\w+)'
matches5 = re.findall(pattern5, text5)

print("Exercise 5 Output:")
print("Domain types:", matches5)
print()

Exercise 5 Output:
Domain types: ['com', 'edu', 'org']